DATABASE_URL="postgresql://postgres:postgres@localhost:5432/coverly"
PORT=3000
EXPO_PUBLIC_API_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="replace-with-32-plus-char-secret"
